@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #f6f6f6;
  font-family: "Escoredream", sans-serif;
}

#loginBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  height: 380px;
}

#loginForm {
  width: 500px;
  height: 380px;
  border: none;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 55px;
  box-shadow: 1px 2px 3px gray;
}

#loginTitle {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: "Escoredream", sans-serif;
}

#id,
#pw {
  width: 400px;
  height: 40px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-bottom: 20px;
}

#function {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

#loginButton {
  width: 400px;
  height: 40px;
  background-color: #e3e3e3;
  border: 1px solid #c8c7c7;
  transition: all 100ms ease-in;
  border-radius: 5px;
}

#loginButton:hover {
  background-color: #323232;
  color: #e3e3e3;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
